.container{
    background-color: aqua;
    max-width: 1024px;
    min-height: 500px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.col{
    /* min-width: ; */
    width: 30%;
    margin-bottom: 30px;
}
.col img{
    width: 100%;
    height: auto;
}

.col p{
    font-family:'Courier New', Courier, monospace;
    padding: 10px 20px;
    font-size: 0.9rem;
    color: black;
    line-height: 1.25rem;
    display: none;
}
.col p::first-line{
    font-weight: 700;
}